<!DOCTYPE html>
<html lang="es" data-theme="light">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatsito</title>
  <script type="module" src="src/components/main.js"></script>
</head>

<body class="bg-base-200 flex flex-col items-center justify-center min-h-screen">
  <main class="card bg-base-100 w-full max-w-3xl border rounded-lg shadow-lg p-4 flex flex-col space-y-4 overflow-y-auto h-5/6" aria-live="polite" aria-relevant="additions">
    <ul class="flex flex-col space-y-2" role="log">
      <li class="loading loading-dots loading-lg flex flex-col items-center justify-center h-full space-y-2" aria-label="Cargando"></li>
    </ul>
  </main>
  
  <form class="flex w-full max-w-3xl space-x-2 mt-4" aria-label="Formulario de mensaje">
    <input class="input input-bordered flex-grow" placeholder="Envía un mensaje a Chatsito" aria-label="Escribe tu mensaje aquí">
    <button class="btn btn-primary" disabled>Enviar</button>
  </form>  

  <small class="text-center text-base-content mt-4">&nbsp;</small>

  <template id="message-template">
    <li class="message chat">
      <div class="chat-image avatar placeholder">
        <div class="bg-neutral text-neutral-content rounded-full w-12">
          <span class="text-xl"></span>
        </div>
      </div>
      <div class="chat-bubble"></div>
    </li>
  </template>
</body>

</html>